@import-normalize;
body {
  margin: 0;
  background-color: #f2f9ff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #656077;
}
h1,
h2,
h3,
h4 {
  font-family: "PT Sans", sans-serif;
  color: #414157;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: #43d9a6;
  text-decoration: none;
}
